#sidebtn{
    height: fit-content;
    position: absolute;

}
body{
    background: lightgray;
}
nav{

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: 110px;
}
a>img{
    border-radius: 50%;
}
.BtnManage{
    width: 350px;
    height: 60px;
    background-color: darkblue;
    border: 2px solid cornflowerblue;
    color: white;
    margin-bottom: 20px;
    border-radius: 0 50px 50px 0;
    position: relative;
    margin-left: -120px;
}
.BtnManage>h3{
    position: absolute;
    left: 160px;
    /*right: 30px;*/
    top: 10px;

}
#div1{
    opacity: 1;
}
#div2{
    opacity: 75%;
}
#div3{
    opacity: 50%;
}
.BtnManage>h4{
    position: absolute;
    left: 32px;
    /*right: 30px;*/
    top: 12px;

}
.BtnManage:hover{
    width: 400px;
    transition-duration: 3s;
    margin-left: 0;
    background-color: blueviolet;
    color: lightgrey;
    opacity: 1;

}

h2{
    text-decoration-style: dashed;
    position: absolute;
    top: 550px;
    right: 30px;


}
h1{
    font-size: 250px;
    font-family: sans-serif;
    color: gray;
    position: absolute;
    top: 300px;
    left: 140px;
    margin: auto;
    opacity: 50%;
}
.card-body{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}