
header>nav>div{
    /*background-color: paleturquoise;*/
    height: 110px;
}
.nav-item>a{
    color: white;
}
.nav-item{
    gap: 100px;
}

#logOutButton {
    float: right;
    background-color: black;
    color: white;
}

h2{
    text-decoration-style: dashed;
    position: absolute;
    top: 550px;
    right: 30px;


}

section>h1{
    position: relative;
    left: 10px;
    top: -20px;
    font-size: 60px;
}









section>h2{
    position: relative;
    top: -50px;
    left: 18px;
}

#cards{
    display: flex;
    justify-content: space-between;
}

#card1{
    background-color: white;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 700px;
    top: 135px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#card2{
    background-color: white;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 950px;
    top: 135px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#card3{
    background-color: white;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 1200px;
    top: 135px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-h3{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;

}
#image1{
    position: relative;
    left: 100px;
    top: -20px;
}

#table-div{
    width: 55%;
    height: 100px;
    position: relative;
    right: -550px;
    top: -300px;
}
body{
    background-color: white;
}