#sidebtn{
    height: fit-content;
    position: absolute;

}
body{
    background: white;
}
nav{

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: 110px;
}

/*.BtnManage{*/
/*    width: 350px;*/
/*    height: 60px;*/
/*    background-color: black;*/
/*    border: 2px solid cornflowerblue;*/
/*    color: black;*/
/*    margin-bottom: 20px;*/
/*    border-radius: 0 50px 50px 0;*/
/*    position: relative;*/
/*    margin-left: -120px;*/
/*}*/
/*.BtnManage>h3{*/
/*    position: absolute;*/
/*    left: 160px;*/
/*    !*right: 30px;*!*/
/*    top: 10px;*/

/*}*/
#div1{
    opacity: 1;
}
#div2{
    opacity: 75%;
}
#div3{
    opacity: 50%;
}
/*.BtnManage>h4{*/
/*    position: absolute;*/
/*    left: 32px;*/
/*    !*right: 30px;*!*/
/*    top: 12px;*/

/*}*/
/*.BtnManage:hover{*/
/*    width: 400px;*/
/*    transition-duration: 3s;*/
/*    margin-left: 0;*/
/*    background-color: blueviolet;*/
/*    color: lightgrey;*/
/*    opacity: 1;*/

/*}*/

h2{
    text-decoration-style: dashed;
    position: absolute;
    top: 550px;
    right: 30px;


}
#home-sec>h1{
    font-size: 70px;
    font-family: sans-serif;
    color: black;
    position: absolute;
    top: 450px;
    left: 440px;
    margin: auto;
    opacity: 50%;
}
#home-sec>h2{
    font-size: 40px;
    font-family: sans-serif;
    color: black;
    position: absolute;
    top: 530px;
    left: 440px;
    margin: auto;
    opacity: 50%;

}

#customerimg{
    width: 350px;
    height: 350px;

    position: relative;
    top: 300px;
    left: 50px;
}
.card-body{
   height: 200px;
    width: 100px;

}
.card-body>h5{
    color: black;
}
.col{
    background-color: aliceblue;
}
.row{
    position: relative;
    top: -350px;
}