body{
    background: white;
}

nav{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    height: 110px;
}

#ItemSearch{
    width: 800px;
    height: 300px;
    border-radius: 10px;
    background: whitesmoke;
    position: absolute;
    top: 500px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#newItem{
    position: absolute;
    top: 200px;
    right: 130px;
    margin: auto;
}
#itemTable{
    width: 1000px;
    position: absolute;
    top: 620px;
    left: 0;
    right: 0;
    margin: auto;
}
#form-tittle{
    position: absolute;
    left: 20px;
    font-family: sans-serif;
}