body{
    /*position: relative;*/
    /*background:linear-gradient(rgba(0,0,0,0.6),#ffffff,#4869fa);*/
    /*height: 100vh;*/
}
/*nav{*/
/*    border-radius: 40px 40px 40px 40px;*/
/*    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;*/
/*}*/

#log-form{
    width: 500px;
    height: 350px;
    /*background: ;*/
    border-radius: 10px;
    padding: 20px;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;*/

    position: absolute;
    top: 130px;
    left: 0;
    right: 0;
    margin: auto;

}

#btnSign{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
h1{
    font-size: 250px;
    font-family: sans-serif;
    color: white;
    position: absolute;
    top: 300px;
    left: 140px;
    margin: auto;
    opacity: 60%;
}
header>nav{

}